<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto&amp;display=swap'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <link rel="stylesheet" href="{{ url_for('static', filename='player.css') }}">    
    <title>Document</title>
</head>
<body>
    <div class="player">
        <div class="cover">
            <img src="https://i.ytimg.com/vi_webp/8jzDnsjYv9A/sddefault.webp" alt="">
        </div>
        <div class="info">
            <div class="title">Sam Smith - Writing's On The Wall (from Spectre) (Official Music Audio)</div>
            <div class="singer">SamSmithVEVO</div>
        </div>
        <div class="volume-box">
            <span class="volume-down"><i class="material-icons">remove</i></span>
            <input type="range" class="volume-range" step="1" value="80" min="0" max="100"
                oninput="music.volume = this.value/100">
            <span class="volume-up"><i class="material-icons">add</i></span>
        </div>
        <div class="btn-box">
            <i class="material-icons repeat" onclick="handleRepeat()">repeat</i>
            <i class="material-icons favorite active" onclick="handleFavorite()">favorite</i>
            <i class="material-icons volume" onclick="handleVolume()">volume_up</i>
        </div>
        <div class="music-box">
            <input type="range" step="1" class="seekbar" value="0" min="0" max="100" oninput="handleSeekBar()">

            <audio class="music-element">
                <source src=" https://rr3---sn-gwpa-civl.googlevideo.com/videoplayback?expire=1671281603&ei=Y2edY8fJNKWAjuMPmPOW6AY&ip=49.43.42.237&id=o-ANbVT_ZsCm1Lo8uZm3vuSberpNJ9CjOcG0hqwQODYjL1&itag=140&source=youtube&requiressl=yes&mh=ZP&mm=31%2C29&mn=sn-gwpa-civl%2Csn-gwpa-cvhs&ms=au%2Crdu&mv=m&mvi=3&pl=22&gcr=in&initcwndbps=252500&vprv=1&mime=audio%2Fmp4&gir=yes&clen=4605265&dur=284.514&lmt=1649387789157792&mt=1671259532&fvip=4&keepalive=yes&fexp=24001373%2C24007246&c=ANDROID&txp=4532434&sparams=expire%2Cei%2Cip%2Cid%2Citag%2Csource%2Crequiressl%2Cgcr%2Cvprv%2Cmime%2Cgir%2Cclen%2Cdur%2Clmt&sig=AOq0QJ8wRgIhANlApD3AFLhSmDFo7IwDw4FeBBQG9MWBf7BhlhqjORyIAiEAsobIaDNhbCpKvA51-q8Z7KtOOaj5T9MrOPjSeWgVRFE%3D&lsparams=mh%2Cmm%2Cmn%2Cms%2Cmv%2Cmvi%2Cpl%2Cinitcwndbps&lsig=AG3C_xAwRQIhAMi7Meyvqp39flsEfAM0nYNhNxqLgKeO54mv58QUtBdUAiAcCS99I7xFwmfkCyILwO6CBpICRhbsZpnP7kMkICCtSA%3D%3D" type="audio/mp3">
            </audio>
            <span class="current-time">0:0</span><span class="duration">0:0</span>
            <span class="play" onclick="handlePlay()">
                <i class="material-icons">play_arrow</i>
            </span>
        </div>
    </div>
  <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script>
    <script  src="{{ url_for('static', filename='script.js') }}"></script>
  
</body>
</html>