<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto&amp;display=swap'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <link rel="stylesheet" href="{{ url_for('static', filename='player.css') }}">    
    <title>Document</title>
</head>
<body>
    <div class="player">
        <div class="cover">
            <img src="https://i.ytimg.com/vi_webp/QJJYpsA5tv8/sddefault.webp" alt="">
        </div>
        <div class="info">
            <div class="title">Bring Me The Horizon - Can You Feel My Heart</div>
            <div class="singer">BMTHOfficialVEVO</div>
        </div>
        <div class="volume-box">
            <span class="volume-down"><i class="material-icons">remove</i></span>
            <input type="range" class="volume-range" step="1" value="80" min="0" max="100"
                oninput="music.volume = this.value/100">
            <span class="volume-up"><i class="material-icons">add</i></span>
        </div>
        <div class="btn-box">
            <i class="material-icons repeat" onclick="handleRepeat()">repeat</i>
            <i class="material-icons favorite active" onclick="handleFavorite()">favorite</i>
            <i class="material-icons volume" onclick="handleVolume()">volume_up</i>
        </div>
        <div class="music-box">
            <input type="range" step="1" class="seekbar" value="0" min="0" max="100" oninput="handleSeekBar()">

            <audio class="music-element">
                <source src="https://rr7---sn-gwpa-civk.googlevideo.com/videoplayback?expire=1671484483&ei=43-gY6TGF5SV4t4PwpuI-A0&ip=49.36.17.235&id=o-APXiSJq6pGDDgMT3yDAY_5MVq7-jFD1lqH8VeHBqjM1S&itag=140&source=youtube&requiressl=yes&mh=9s&mm=31%2C29&mn=sn-gwpa-civk%2Csn-gwpa-qxae7&ms=au%2Crdu&mv=m&mvi=7&pl=22&gcr=in&initcwndbps=160000&vprv=1&mime=audio%2Fmp4&gir=yes&clen=3694710&dur=228.252&lmt=1556992127293612&mt=1671462592&fvip=5&keepalive=yes&fexp=24001373%2C24007246&c=ANDROID&txp=5535432&sparams=expire%2Cei%2Cip%2Cid%2Citag%2Csource%2Crequiressl%2Cgcr%2Cvprv%2Cmime%2Cgir%2Cclen%2Cdur%2Clmt&sig=AOq0QJ8wRQIgW8CgA2bnXzYLH0n9oUNMTBW0Tcfwew7IEVRniN1Gbw0CIQCIj1aEOXnWZ3wGgU8lS80n9jutmsOSeA4e0byUEHRf9A%3D%3D&lsparams=mh%2Cmm%2Cmn%2Cms%2Cmv%2Cmvi%2Cpl%2Cinitcwndbps&lsig=AG3C_xAwRAIgXb7ah-sv4iqkdfNG9WYEm8c-6IRQrBau8AYgt-zXBdUCIBlwlR2gtPzmYsoIPO3gSfxBIRrdbj9Gcdc63fhQcGRv" type="audio/mp3">
            </audio>
            <span class="current-time">0:0</span><span class="duration">0:0</span>
            <span class="play" onclick="handlePlay()">
                <i class="material-icons">play_arrow</i>
            </span>
        </div>
    </div>
  <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script>
    <script  src="{{ url_for('static', filename='script.js') }}"></script>
  
</body>
</html>