<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>RageMusic</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" >
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<style>


	.material-symbols-outlined {
		font-variation-settings:
			'FILL'0,
			'wght'400,
			'GRAD'0,
			'opsz'48
	}
</style>



<body>


	<div class="title">
		<p> RAGE</p>
		<p class="pColor"> MUSIC</p>
	</div>

	<div class="inputSearch">
		<input type="text" style="font-family: FontAwesome;" placeholder="&#xf002; Search" class="frontPageSearch">
	</div>



	<div class="songs">
		<p>Songs</p>
	</div>

	<div class="container">
		<div>
			<img src="https://i.ytimg.com/vi/HLIUL-qwp6o/sddefault.jpg" alt="">
			<p>Careless Whisper</p>

			<p class="singer">George Michael</p>

		</div>
	
		<div>
			<img src="https://i.ytimg.com/vi/vtNJMAyeP0s/maxresdefault.jpg" alt="">
			<p>Tourner Dans Le Vide</p>

			<p class="singer">Indila</p>
		</div>

	</div>

	<!--<img src="https://i.ytimg.com/vi/HLIUL-qwp6o/sddefault.jpg" alt="">-->


</body>

</html>